{{- if has "servicemesh" .Values.feature }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ include "app.fullname" . }}-certificate
  namespace: service-mesh
spec:
  secretName: {{ include "app.fullname" . }}-certificate
  commonName: octo-service-mesh.apps.ocp.ocp-gm.de
  dnsNames:
    - octo-service-mesh.apps.ocp.ocp-gm.de
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
{{- end }}